* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.box {
  box-sizing: 20vh;
  margin: 5px;
  padding: 10px;
}

.box body {
  background-color: rgb(212, 152, 72);
  font-family: sans-serif;
  padding: 20px;
}
#app div {
  border: 1px solid #5a20be;
  padding: 10px;
  margin: 10px;
  background-color: antiquewhite;

  display: flex;
  gap: 10px;
}
p {
  color: black;
}
/* mobile */
@media (min-width: 600px) and (max-widg: 900px) {
  body {
    background: color #ad448d;
  }
}
#app div {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  font-weight: 700;
}
.btn-submit {
  box-sizing: 10px 10;
  background-color: rgb(191, 105, 48);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
}
.btn-submit :hover {
  background-color: rgb(229, 100, 13);
}
.edit-btn {
  background-color: rgb(48, 227, 150);
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}
.edit-btnt:hover {
  background-color: #0f766e;
}
.delete-btn {
  background-color: #dc2626;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}
deleteBtn:hover {
  background-color: #b91c1c;
}
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
